html {
  background-color: #e2e2e2;

  font-family: sans-serif;
}

.polaroid {
  margin: 0;
  padding: 10px;
  width: 250px;

  background-color: #fff;
  border-radius: 4px;
  box-shadow: 1px 4px 6px rgba(0, 0, 0, .5);
}

.polaroid:hover {
  box-shadow: 2px 6px 10px rgba(0, 0, 0, 1);
}

.polaroid:first-child {
  transform: translate(10em, 5em) rotate(-10deg);
}

.polaroid:first-child:hover {
  z-index: 1;
  position: relative;
}

.polaroid:nth-child(even) {
  transform: translate(15em, 0) rotate(5deg);
  z-index: 1;
  position: relative;
}

.polaroid:last-child {
  transform: translate(22em, -15em) rotate(15deg);
}

.polaroid:last-child:hover {
  z-index: 1;
  position: relative;
}

.polaroid > img {
  display: block;
  width: 100%;
}

.polaroid > figcaption {
  color: #fff;
  text-shadow: 1px 1px 3px #000;
}
